<div class="home-wrapper">
  <div class="home-content">
    <div class="box box-left">
      <h1>{{"TENGIZ MIKHELIDZE" | translate: HomeTranslate}}</h1>
      <h2>{{"Front-End Developer" | translate: HomeTranslate}}</h2>
      <h3>{{"Let's Build Together" | translate: HomeTranslate}}</h3>
      <strong>Currently I'm living in Georgia and developing Angular Apps and Web Services. For now I'm working in one of the biggest bank in georgia <a href="https://www.tbcbank.ge/web/en" target="_blank">TBC Bank</a> and also in StartUp called: <a href="https://spacem.ge/" target="_blank">SpaceM</a> For any questions feel free to contact me</strong>
      <img alt="flag" [src]="'assets/imgs/angular_banner.png' | Image">
    </div>
    <div class="box box-right">
      <img alt="flag" [src]="'assets/imgs/my_cover.jpg' | Image">
    </div>
  </div>
</div>
